body {
  font-family: sans-serif;

}

.cuddle {
  background: url("../images/wedding_couple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  filter: grayscale(30%);
}

.cdl {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff4f4;
  font-size: 30px;
  display: block;
}

.kissing {
  background-color: #d5a4a4;
  color: #000;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  display: flex;
  width: 100%;
}

.side {
  display: block;
  margin: auto;
  max-width: 1200px;
  width: 90vw;
  border-radius: 1%;
  filter: grayscale(70%);
}

.top1 {
  text-align: center;
}

.dov {
  font-style: italic;
  text-align: center;
  width: 100%;
  align-items: center;
}

.det {
  margin: 2%;
  width: 10%;
  height: 5vh;
  font-size: large;
  background-color: #000;
  color: #fbf8f8;
  border: 1px black;
}

.det:hover {
  background-color: #fbf9f9;
  color: #201e1e;
  border: 1px solid #000;
}

.levi {
  margin-left: 5%;
  margin-right: 5%;
}

.flow {
  background: url("../images/flowers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  height: 100vh;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  filter: grayscale(30%);
}

.bq {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff4f4;
  font-size: 30px;
  display: block;
  gap: 10%;
}

.dd {
  text-align: center;
  color: #1d4d4d;
}

.chair {
  display: block;
  max-width: 1220px;
  width: 50vw;
  filter: grayscale(100%);
  margin: auto;
}

.space {
  display: flex;
  justify-content: center;
  gap: 15%;
  font-style: italic;
  font-weight: 200;
  font-size: large;
}

.hall {
  background-color: #dec9c9;
  display: flex;
  flex-direction: column;
}

.satz {
  text-align: center;
  font-style: italic;
  font-size: 1.8rem;
}

.try {
  margin: 1%;
  width: 11vw;
  height: 7vh;
  background-color: #d47272;
  color: white;
  border: 3px black;
  align-items: center;
  font-size: 1.7rem;
  border-radius: 2%;
  margin-bottom: 6%;
}

.ende {
  background-color: #d6a4a4;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.poer {
  font-style: oblique;
  text-align: center;
  background-color: #000;
  display: flex;
  flex-direction: column;
  color: #fbf9f9;
  height: 13vh;
}

.try:hover {
  background-color: #fbf9f9;
  color: #323030;
  border: #000;
}

.free-code {
  color: #fbf8f8;
}

.fin {
  text-align: center;
  position: relative;
  padding-top: 2%;
}

.fixed {
  background-color: #e7e7e7e9;
  align-items: center;
  height: 5vh;
  bottom: 0;
  text-align: center;
  position: fixed;
  width: 100%;
}

nav,
ul {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: #000;
  gap: 27vw;
  height: 3vh;
}

.down {
  text-decoration: none;
  color: #000;
}



@media (max-width: 768px) {
  .kissing {
    flex-direction: column;
  }

  .chair {
    width: 90%;
    border-radius: 1%;
  }

  .det{
    width: 20%;
  }

  .try{
    width: 30vw;
  }
}


@media (max-width: 320px) {
  body {
    display: block;
  }

  .try {
    margin: 1%;
    width: 60vw;
    height: 7vh;
    border-radius: 10px;
    margin-bottom: 20%;
  }

  .space {
    display: block;
  }

  .side {
    width: 90vw;
    height: fit-content;
    border-radius: 3%;
  }

  .levi {
    font-size: small;
  }

  .fixed {
    display: none;
  }

  .det {
    width: 50vw;
  }

  .satz {
    font-style: sans-serif;
    font-size: 1.3rem;
  }


  .cdl {
    line-height: 1.3;
  }

  .hall {
    text-align: center;
  }

  .fin {
    margin-top: 20%;
  }

}